<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Nombre de bornes : {{ total_aps }}</p>
    <p>Nombre de clients : {{ total_clients }}</p>
    <p>Volume total échangé : {{ total_volume }} bytes</p>
    <a href="{{ url_for('auth.list_aps') }}">Lister les bornes WiFi</a><br>
    <a href="{{ url_for('auth.list_clients') }}">Lister les clients</a>
    <form action="/logout" method="post">
        <button type="submit">Déconnexion</button>
    </form>
</body>
</html>
